/* Fonts */

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('CuprumRegular'), local('Cuprum-Regular'),
  url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('CuprumItalic'), local('Cuprum-Italic'),
  url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('CuprumBoldItalic'), local('Cuprum-BoldItalic'),
  url('../fonts/cuprumbolditalic.woff2') format('woff2'),
  url('../fonts/cuprumbolditalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('CuprumBold'), local('Cuprum-Bold'),
  url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans'), local('PTSans-Regular'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSansBold'), local('PTSans-Bold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
  font-display: swap;
}

/* Variables */
:root {
  --basic-light-red: #ee3643;
  --basic-red: #CA2C37;
  --basic-dark-red: #BA2732;
  --basic-dark-blue: #32425c;
  --basic-indigo: #3D546F;
  --basic-dark: #1D2739;
  --basic-darken: #161D29;
  --basic-gray: #a9a9a9;
  --basic-neutral-gray: #B7BFC8;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-neutral: #c5c5c5;
  --basic-light-neutral: #e5e5e5;
  --basic-light: #F3F7F9;
  --basic-extra-light-grey: #F7F3EC;
  --basic-extra-light: #F1F5F7;
  --basic-green: #63a63e;
  --basic-light-green: #8ed78f;
  --basic-bright-green: #5FBB2D;
  --basic-dark-green: #518534;
  --basic-blue: #3BBCE3;
  --basic-extra-light-blue: #F2F6F8;
  --basic-purple: #dc91d8;
  --basic-peach: #ffda96;
  --basic-peach-opacity: rgba(255, 218, 150, 0.5);
  --basic-light-gray: #C1C6CE;
  --basic-orange: #FFBF47;
  --basic-light-orange: #ffc047;
  --basic-light-blue: #F2F6F8;
  --basic-neutral-white: #F9F5F0;

  /* Social */
  --social-dark-blue: #212A3A;

  /* Logo */
  --logo-shadow: rgba(0, 0, 0, 0.24);

  /* Preference-block and Shadow: tabs, nav; */
  --special-extra-dark-blue: #293449;
  --special-white: rgba(255, 255, 255, 0.5);
  --special-opacity-white: rgba(255, 255, 255, 0.3);
  --special-shadow-tab: #405069;
  --special-opacity-black: rgba(0, 0, 0, 0.3);
  --special-opacity-gray: rgba(197, 197, 197, 0.3);
  --special-opacity-extra-gray: rgba(169, 169, 169, 0.3);
  --special-border-gray: #EAEAEA;

  /* Button-buy */
  --button-buy-shadow: #367315;

  /* Button-radio-checkbox */
  --button-dark-gray: #b5b5b5;
}
/* Body */
.page-body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

/* Main navigation */

.main-header {
  background-color: var(--basic-light-blue);
}

.main-list-navigation {
  list-style: none;
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0 -5px 0 var(--special-extra-dark-blue);
}

.main-list-navigation>li>a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-transform: capitalize;
  text-decoration: none;
}

/* User navigation */

.navigation-item a:hover {
  background-color: var(--special-extra-dark-blue);
}

.navigation-item a:focus {
  background-color: var(--basic-dark);
  color: var(--special-white);
  opacity: 0.5;
}

.main-header-logo img {
  background-color: var(--basic-light-red);
}

.main-header-logo:focus img {
  filter: grayscale(0.25);
}

/* Header-content */

.brief-resume {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-light-red);
  text-transform: none;
}

.contacts-phone-link {
  font-weight: 700;
  font-size: 21px;
  font-style: normal;
  line-height: 30px;
  color: var(--basic-light-red);
  border: 3px solid var(--basic-white);
  text-decoration: none;
  width: 230px;
}

.contacts-phone-link svg {
  position: relative;
  top: 3px;
  padding-right: 10px;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark-blue);
  text-transform: none;
}

.initialization-link {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  color: var(--basic-black);
  background: var(--basic-white);
}

.initialization-link:hover,
.initialization-link:hover path {
  color: var(--basic-light-red);
  fill: var(--basic-indigo);
}

.initialization-link:focus,
.initialization-link:focus path {
  fill: var(--basic-neutral);
  color: var(--basic-neutral);
}

/* Supporting order */

.supporting-order-section {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: var(--basic-white);
  background: var(--special-extra-dark-blue);
}

.search {
  background: inherit;
  border: none;
  bottom: 17px;
  width: 220px;
  height: 41px;
  position: relative;
  left: 40px;
}

.search:active,
.search:focus {
  border: none;
  border-bottom: 1px solid transparent;
  outline: 0;
  background: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.icon-search {
  position: relative;
  right: 228px;
}

.search:hover+.icon-search path,
.icon-search:hover path {
  opacity: 1;
}

.search:active+.icon-search path,
.search:focus+.icon-search path {
  fill: var(--basic-light-red);
  opacity: 1;
}

.search:active+.icon-search,
.search:focus+.icon-search {
  background: var(--basic-white);
}

.preference-block {
  list-style: none;
}

.marker-score a,
.basket-score a {
  background: inherit;
  border: none;
  text-decoration: none;
  color: var(--basic-white);
}

.marker-icon {
  opacity: 0.3;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.basket-icon {
  opacity: 0.3;
  margin-right: 5px;
  position: relative;
  top: 1px;
  left: 1px;
}

.marker-score:hover .marker-icon {
  opacity: 1;
}

.basket-score:hover .basket-icon {
  opacity: 1;
}

.checkout-link {
  background: var(--basic-green);
  color: var(--basic-white);
  text-decoration: none;
}

.checkout-link:hover {
  background: var(--basic-bright-green);
}

.marker-score:active,
.basket-score:active {
  opacity: 0.3;
  background-color: var(--basic-darken);
  box-sizing: border-box;
}

.marker-score:focus::before {
  background-color: var(--special-white);
}

.basket-score:focus::before {
  background-color: var(--special-white);
}

.checkout-link:focus {
  color: var(--special-white);
}

/* Main-content */

/* Proposals */
.hidden-head {
  display: none;
}

.proposals-list {
  list-style: none;
}

.proposal-item a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background-color: var(--special-opacity-white);
  color: var(--basic-white);
  width: 135px;
  height: 38px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  left: 23px;
  top: 35px;
}

.proposal-item a:hover {
  background-color: var(--special-opacity-gray);
}

.proposal-item a:focus {
  background-color: var(--special-opacity-extra-gray);
}

.proposal-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
  position: relative;
  top: 20px;
  left: 23px;
}

.proposal-material {
  background: var(--basic-orange);
}

.proposal-material svg {
  position: relative;
  left: 213px;
  bottom: 37px;
  padding: 0;
  margin: 0;
}

.proposal-tool {
  background-color: var(--basic-blue);
}

.proposal-tool svg {
  position: relative;
  left: 195px;
  bottom: 35px;
  padding: 0;
  margin: 0;
}

.proposal-equipment {
  background-color: var(--basic-purple);
}

.proposal-equipment svg {
  position: relative;
  left: 195px;
  bottom: 35px;
  padding: 0;
  margin: 0;
}

.proposal-discount {
  background-color: var(--basic-light-green);
}

.proposal-discount svg {
  position: relative;
  left: 200px;
  bottom: 39px;
  padding: 0;
  margin: 0;
}

.proposal-delivery {
  background-color: var(--basic-light-orange);
}

.proposal-delivery svg {
  position: relative;
  left: 195px;
  bottom: 35px;
  padding: 0;
  margin: 0;
}

.catalog-puncher-drill {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  color: var(--basic-white);
  background-color: var(--basic-peach-opacity);
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.slider-item p {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  bottom: 15px;
}

.slider-list {
  list-style: none;
}

.slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  padding: 5px 0 0 0;
  margin: 0;
  text-transform: uppercase;
}

.slider-list {
  padding-left: 25px;
}

.slider-indicators {
  position: relative;
  bottom: -96px;
  text-align: center;
  z-index: 20;
  display: flex;
  justify-content: center;
}

.slider-indicators button {
  padding: 0;
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--basic-light-red);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-indicators .current {
  background-color: var(--basic-white);
}

.button-backward,
.button-forward {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: 0;
}

.button-backward {
  position: relative;
  left: 20px;
  bottom: 17px;
}

.button-forward {
  position: relative;
  left: 532px;
  bottom: 17px;
}

.catalog-puncher {
  background-color: var(--basic-peach-opacity);
  background-image: url("../img/catalog-image-punchers.jpg");
  box-shadow: inset 0 104px 0 0 var(--special-opacity-black);
}

.catalog-drill {
  background-color: var(--basic-peach-opacity);
  background-image: url("../img/catalog-image-drills.jpg");
}

.catalog-puncher-drill a {
  position: relative;
  left: 25px;
  top: 14px;
}

.main-button-link {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-light-red);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 192px;
  height: 38px;
}

.main-button-link:hover {
  background-color: var(--basic-red);
}

.main-button-link:focus {
  background-color: var(--basic-dark-red);
}

/* Popular products and producers */
.popular-products {
  background-color: var(--basic-white);
}

.popular-products h2,
.producers-section h2 {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-blue);
  background-color: var(--basic-neutral-white);
  text-transform: uppercase;
}

.popular-products-list {
  list-style: none;
}

.hidden-sticker {
  display: inline-block;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: var(--basic-light-red);
  color: var(--basic-white);
  text-transform: uppercase;
}

.product-item {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-gray);
  background-color: var(--basic-white);
  text-transform: none;
  border: 1px solid var(--special-border-gray);
  box-sizing: border-box;
}

.product-item h4 {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: none;
}

.product-item:hover img {
  display: none;
}

.product-item:hover {
  box-shadow: 0 0 10px 0 var(--logo-shadow);
}

.button-buy {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 var(--button-buy-shadow);
}

.button-buy path {
  opacity: 0.3;
}

.button-buy svg {
  position: relative;
  right: 9px;
  top: 2px;
  margin: 0;
  padding: 0;
}

.button-buy:hover {
  background: var(--basic-bright-green);
}

.button-buy:focus {
  background: var(--basic-dark-green);
}

.button-marker {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}

.button-marker:hover {
  border: 3px solid var(--basic-dark-blue);
}

.button-marker:focus {
  opacity: 0.5;
}

.price {
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  box-sizing: border-box;
  width: 141px;
  height: 38px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background-image:
  linear-gradient(225deg, white 25%, transparent 25%),
  linear-gradient(315deg, white 25%, transparent 25%);
  background-position:
    101px 0,
    101px 0;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.producers-section {
  background-color: var(--basic-white);
}

.producers-list {
  list-style: none;
}

.producer-item>a>img {
  border: 1px solid var(--basic-light-neutral);
}

.producer-item>a>img:hover {
  box-shadow: 0 0 10px 0 var(--logo-shadow);
}

.producer-item>a:focus img {
  box-shadow: 0 0 10px 0 var(--logo-shadow);
  opacity: 0.5;
}

/* Tabs by service */
.service-head {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 10px 0 0 0;
  margin: 0;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;
}

.service-section {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  text-transform: none;
}

/* tabs */
.service-tabs {
  font-family: "Cuprum", Tahoma, sans-serif;
  width: 940px;
}

.service-tabs>input[type="radio"] {
  display: none;
}

.service-tabs>div {
  /* скрыть контент по умолчанию */
  font-family: "PT Sans", Tahoma, sans-serif;
  display: none;
  font-size: 13px;
  line-height: 24px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab_1:checked~#txt_1,
#tab_2:checked~#txt_2,
#tab_3:checked~#txt_3 {
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  display: grid;
  grid-template-columns: 80px 150px 240px 230px;
  grid-template-rows:
    61px
    61px
    61px
    61px
    auto;
}

.service-tabs>label {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 700;
  color: var(--basic-white);
  display: grid;
  padding: 0;
  margin: 0;
  width: 240px;
  height: 61px;
  background-color: var(--basic-dark-blue);
  border: 1px solid var(--special-extra-dark-blue);
  font-size: 21px;
  line-height: 30px;
  box-shadow: 0 1px 0 var(--special-extra-dark-blue), inset 0 1px 0 var(--special-shadow-tab), inset -5px 0 5px 0 var(--logo-shadow);
}

.service-tabs>label:hover {
  background-color: var(--special-extra-dark-blue);
}

.service-tabs>input[type="radio"]:checked+label {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);
}

.tab h3,
.delivery-link {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 0;
  margin: 0;
}

.tab p {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  padding: 0;
  margin: 0;
}

.service-delivery::after {
  content: url("../img/delivery-icon-decoration.png");
  grid-column: 3 / 5;
  grid-row: 1 / 6;
  padding: 0;
  margin: 19px 0 0 0;
}

.service-warranty::after {
  content: url("../img/warranty-icon-decoration.png");
  grid-column: 3 / 5;
  grid-row: 1 / 6;
  padding: 0;
  margin: 0 0 0 85px;
}

.service-credit::after {
  content: url("../img/credit-icon-decoration.png");
  grid-column: 3 / 5;
  grid-row: 1 / 6;
  padding: 0;
  margin: 0 0 0 15px;
}

.button-send-request {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 0;
  margin: 7px 0 0 0;
  z-index: 1;
  width: 195px;
  height: 38px;
}

.button-send-request a {
  border-radius: 2px;
}

.for-line-shadow::after {
  content: url("../img/line-shadow-decoration.png");
  position: relative;
  left: 231px;
  bottom: 210px;
}

/* About company and contacts*/
.company-section,
.contacts-section {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  background-color: var(--basic-white);
}

.company-delivery-list {
  list-style: none;
}

.company-delivery-list li {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.company-delivery-list li::before {
  content: "";
  position: relative;
  right: 10px;
  bottom: 5px;
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-light-red);
}

/* Main-footer */

/* Navigation */
.page-footer {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  text-transform: none;
}

.navigation-footer,
.footer-proposal-list {
  list-style: none;
}

.navigation-footer-item a {
  text-decoration: none;
  color: var(--basic-white);
}

.navigation-footer-item:hover a {
  text-decoration: underline;
}

.navigation-footer-item:focus a {
  color: var(--special-white);
  text-decoration: none;
}

.footer-phone {
  text-decoration: none;
  color: var(--basic-white);
}

.footer-proposal-item a {
  text-decoration: none;
  color: var(--basic-peach);
}

.footer-proposal-item:hover a {
  text-decoration: underline;
}

.footer-proposal-item:focus a {
  color: var(--basic-peach-opacity);
  text-decoration: none;
}

/* Socials and copyright */
.footer-copyright-social {
  background-color: var(--special-extra-dark-blue);
}

.social-list {
  list-style: none;
}

.social-button:hover .button-social-background,
.social-button:focus .button-social-background {
  fill: var(--basic-light-red);
}

.visually-hidden-social {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-copyright-social p {
  font-size: 16px;
  line-height: 18px;
}

.feedback-link {
  text-decoration: none;
  color: var(--basic-peach);
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:focus {
  text-decoration: none;
  color: var(--basic-red);
}

/* Catalog-page */

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item a {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;
}

.center h1 {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-blue);
  background-color: var(--basic-light-blue);
}

/* Filter-section */

.filter-section h2,
.sort-section h2,
.price-container,
.price-range span,
.sort-content {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light-grey);
}

.filter-content h3 {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

/* Price-filter */
.price-range,
.price-range span {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.filter-producers-list {
  list-style: none;
}

/* Producer-filter */
.filter-producers-list label,
.filter-content label {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.producer {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.unchecked-producer {
  position: absolute;
  left: 5px;
  z-index: 2;
  opacity: 1;
}

.checked-producer {
  position: absolute;
  left: 5px;
  z-index: -1;
  opacity: 0;
}

.producer:checked~.checked-producer {
  z-index: 2;
  opacity: 1;
}

.producer:checked~.unchecked-producer {
  z-index: -1;
  opacity: 0;
}

/* стили при наведении курсора на checkbox */
.filter-producers-list:not(:disabled) label:hover path {
  fill: var(--button-dark-gray);
}

/* стили для чекбокса, находящегося в состоянии disabled */
.producer:disabled~svg,
.producer:disabled~span {
  opacity: 0.3;
}

/* для элемента input c type="radio" */
.powered>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* Powered-filter */

/* для элемента label связанного с .powered */
.powered>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.powered>span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 4px solid var(--basic-neutral);
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.powered>input+span:hover::before {
  border-color: var(--button-dark-gray);
}

/* стили для радиокнопки, находящейся в состоянии checked */
.powered>input:checked+span::before {
  box-shadow: inset 0 0 0 4px var(--basic-white), inset 0 0 0 15px var(--basic-neutral);
}

.powered>input:checked+span:hover::before {
  box-shadow: inset 0 0 0 4px var(--basic-white), inset 0 0 0 10px var(--button-dark-gray);
}

.powered>input:disabled+span::before {
  border-color: var(--button-dark-gray);
  opacity: 0.4;
}

.filter-button {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background: var(--basic-white);
  border: 1px solid var(--button-dark-gray);
  box-sizing: border-box;
  text-transform: uppercase;
}

/* Sorting */

.sort-filter>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sort-filter span {
  color: var(--special-opacity-black);
  border-bottom: 1px dotted var(--basic-light-red);
}

.sort-filter:hover span {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-light-red);
}

.sort-filter:active span {
  color: var(--basic-light-red);
  border-bottom: none;
}

.sort-filter>input:checked+span {
  color: var(--basic-light-red);
  border-bottom: none;
}

/* для элемента input c type="radio" */
.sort-ascending,
.sort-descending {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

/* стили при наведении курсора на радио */
.sort-ascending:hover+svg>path,
.sort-descending:hover+svg>path {
  fill: var(--basic-black);
}

/* стили для радиокнопки, находящейся в состоянии checked */
.sort-ascending:checked+svg>path,
.sort-descending:checked+svg>path {
  fill: var(--basic-light-red);
}

/* Page-list */

.catalog-pages-list {
  list-style: none;
}

.catalog-page a {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;
  border: 1px solid var(--basic-light-neutral);
}

.catalog-page a:hover {
  border: 1px solid var(--basic-neutral);
}

.catalog-page a:focus {
  border: 1px solid var(--basic-light-red);
}

.catalog-page a:active {
  border: 1px solid var(--basic-light-red);
  background-color: var(--basic-light-red);
  color: var(--basic-white);
}

.catalog-page-current a,
.catalog-page-current a:hover,
.catalog-page-current a:focus,
.catalog-page-current a:active {
  border: 1px solid var(--basic-light-red);
  background-color: var(--basic-light-red);
  color: var(--basic-white);
}

/* Article */

.about-product {
  background: var(--basic-extra-light);
}

.about-product h3 {
  font-family: "Cuprum", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.about-product p {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}


/* grid */

.container {
  margin: 0;
  justify-content: center;
  align-content: center;
}

.hg {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 940px 1fr;
  grid-template-rows:
    320px
    1fr
    300px;
  min-height: 100vh;
}

/* header-container */

.hg-header {
  grid-area: header;
  min-width: 1200px;
  min-height: 320px;
  display: grid;
  grid-template-columns: 1fr 940px 1fr;
  grid-template-rows:
    42px
    1fr
    1fr
    60px;
}

.main-navigation {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  z-index: 2;
  min-height: auto;
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows:
    42px
    1fr
    1fr
    60px;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.nav-bar {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: grid;
  height: 60px;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr 1fr 1.5fr;
  grid-template-rows:
    60px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-main {
  grid-column: 1 / 2;
}

.nav-company {
  grid-column: 2 / 3;
}

.nav-catalog {
  grid-column: 3 / 4;
}

.nav-news {
  grid-column: 4 / 5;
}

.nav-offers {
  grid-column: 5 / 6;
}

.nav-delivery {
  grid-column: 6 / 7;
}

.nav-contacts {
  grid-column: 7 / 8;
}

.navigation-item a {
  display: block;
  padding: 17px;
}

.initialization-container {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 310px 320px 310px 1fr;
  grid-template-rows:
    45px
    45px
    45px
    1fr;
}

.resume-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  z-index: 4;
  padding-left: 35px;
  padding-top: 20px;
  margin: 0;
  align-self: center;
}

.contacts-bar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  z-index: 4;
  padding-top: 3px;
  padding-left: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.address-bar {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  z-index: 4;
  padding-left: 27px;
  padding-top: 1px;
  margin: 0;
}

.login-bar {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  z-index: 4;
  padding: 0;
  margin-top: 15px;
  margin-left: 30px;
}

.icon-login {
  position: relative;
  top: 2px;
}

.login {
  padding: 8px 20px 8px 20px;
}

.registration {
  padding: 8px 24px 8px 25px;
  margin-left: 10px;
}

.supporting-order-section {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 220px 270px 150px 150px 150px 1fr;
}

.search-bar {
  grid-column: 3 / 4;
  z-index: 5;
}

.preference-bar {
  grid-column: 4 / 6;
  display: grid;
  grid-template-columns: 150px 150px;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.score-bar {
  grid-column: 1 / 2;
  margin: 0;
  align-content: center;
  padding-top: 10px;
  width: auto;
  height: 42px;
  text-align: center;
  z-index: 5;
}

.basket-bar {
  grid-column: 2 / 3;
  margin: 0;
  padding-top: 10px;
  width: auto;
  height: 42px;
  text-align: center;
  z-index: 5;
}

.checkout-bar {
  grid-column: 6 / 7;
  padding-top: 10px;
  margin: 0;
  width: auto;
  height: 42px;
  text-align: center;
  box-sizing: border-box;
  z-index: 5;
}

/* main-container */

.hg-main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 940px 1fr;
  grid-template-rows:
    max-content
    max-content
    max-content
    max-content
    auto;
  row-gap: 66px;
}

.proposals-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  padding: 0;
  margin: 66px 0 0 0;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows:
    min-content
    min-content
    min-content;
  column-gap: 20px;
  row-gap: 20px;
}

.proposals-list-container {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows:
    123px
    123px
    123px;
  column-gap: 20px;
  row-gap: 20px;
}

.proposal-material-bar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.proposal-tool-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.proposal-equipment-bar {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.proposal-discount-bar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.proposal-delivery-bar {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.catalog-puncher-container {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  padding: 0;
  margin: 0;
  z-index: 4;
}

.main-products-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows:
    min-content
    min-content;
  row-gap: 20px;
}

.popular-head-container {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  width: 940px;
  height: 89px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 220px;
  grid-template-rows:
    min-content;
  background-color: var(--basic-neutral-white);
}

.popular-head {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 33px 0 0 30px;
  margin: 0;
}

.products-button-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 4;
  justify-self: center;
  padding: 0;
  margin: 25px 0 0 0;
}

.popular-products-container {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows:
    1fr;
  column-gap: 20px;
  padding: 0;
  margin: 0;
}

.product-item-first {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.product-item-second {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.product-item-third {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.product-item-fourth {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.product-item {
  min-width: 220px;
  min-height: 318px;
  display: grid;
  grid-template-columns: 220px;
  grid-template-rows:
    175px
    min-content
    1fr;
}

.product-item img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0;
  margin: auto;
}

.product-item h4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 185px;
}

.hidden-button {
  display: none;
}

.product-item:hover .hidden-button-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
  grid-template-rows:
    1fr
    38px
    38px
    1fr;
  row-gap: 10px;
}

.button-buy-bar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  padding: 8px 0 0 0;
}

.button-marker-bar {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  padding: 8px 0 0 0;
}

.price-product-bar {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.previous-price {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 185px;
}

.without-previous-price {
  margin: 35px auto 0 auto;
}

.main-producers-container {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows:
    min-content
    min-content;
  row-gap: 20px;
}

.producers-list-container {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows:
    145px
    auto;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  width: 940px;
}

.producer-item {
  padding: 0;
  margin: 0;
}

.producer-item-first {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.producer-item-second {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.producer-item-third {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.producer-item-fourth {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.producer-item-fifth {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.producer-item-six {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.producer-item-seven {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.producer-item-eight {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.main-service-container {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  height: 522px;
  display: grid;
  grid-template-columns: 1fr 940px 1fr;
  grid-template-rows:
    177px
    305px
    auto;
}

.service-head-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 470px 470px;
  grid-template-rows:
    55px
    61px
    auto;
}

.service-head-container p {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 0;
  margin: 0;
}

.service-tabs-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 240px 700px;
  grid-template-rows:
    61px
    61px
    61px
    61px
    61px
    37px;
}

.tab-delivery {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.tab-warranty {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.tab-credit {
  grid-column: 1 / 2;
  grid-row: 4 / 4;
}

.service-tabs-container>label>span {
  padding: 0;
  margin: 13px 0 0 12px;
}



.main-company-container {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: 460px 1fr 300px;
  grid-template-rows:
    max-content;
}

.company-section-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 460px;
  grid-template-rows:
    50px
    max-content
    max-content
    max-content
    68px
    51px;
  row-gap: 10px;
}

.service-head {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 10px 0 0 1px;
  margin: 0;
}

.company-about-products {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;
}

.company-about-delivery {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 25px 0 0 0;
  margin: 0;
}

.delivery-list-container {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  padding: 0 0 0 12px;
  margin: 0;
  display: grid;
  row-gap: 10px;
}

.button-about-company {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  padding: 15px 0 15px 0;
}

.button-about-company a {
  padding: 0 15px 0 15px;
}

.contacts-section-container {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows:
    50px
    max-content
    max-content
    max-content
    68px
    51px;
  row-gap: 10px;
}

.company-about-address {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0 0 25px 0;
  margin: 0;
}

.contacts-map {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  padding: 0;
  margin: 0;
}

.button-write-us {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  padding: 15px 0 15px 0;
}

.button-write-us a {
  padding: 0 55px 0 55px;
}

/* footer-container */

.hg-footer {
  grid-area: footer;
  display: grid;
  min-width: 1200px;
  min-height: 300px;
  grid-template-columns: 1fr 940px 1fr;
  grid-template-rows:
    1fr
    107px;
}

.footer-nav-container {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 220px 170px 550px 1fr;
  grid-template-rows:
    68px
    1fr;
}

.logo-footer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.nav-footer-list {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  display: grid;
  padding: 30px 0 0 0;
  margin: 0;
  grid-template-columns: 170px 1fr 1fr 1fr 1fr min-content;
  grid-template-rows:
    68px;
}

.footer-nav-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.footer-news-bar {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.footer-catalog-bar {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.footer-delivery-bar {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.footer-contacts-bar {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.navigation-footer-item {
  max-height: 18px;
}

.footer-address {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  padding: 30px 0 0 10px;
  margin: 0;
}

.footer-proposal {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  padding: 35px 0 0 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr min-content;
  grid-template-rows:
    68px;
}

.footer-proposal-materials {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 0 0 23px;
}

.footer-proposal-technicals {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 0 0 0 23px;
}

.footer-proposal-tools {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.footer-proposal-offer {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.footer-proposal-item {
  max-height: 18px;
}

.copyright-social-container {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 300px 300px 200px 140px 1fr;
  grid-template-rows:
    107px;
}

.copyright {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 35px 0 0 10px;
  margin: 0;
}

.social-bar {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: grid;
  padding: 35px 0 0 0;
  margin: 0;
  grid-template-columns: 1fr auto auto auto 1fr;
  grid-template-rows:
    107px;
}

.vk-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.fb-bar {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.inst-bar {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.feedback-bar {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  padding: 35px 0 0 41px;
  margin: 0;
}

.developed-bar {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  padding: 35px 0 0 30px;
  margin: 0;
}
